
$modal-background-background-color: rgba(0, 0, 0, 0.9);
$modal-content-width: (100% / 1.5);
$modal-card-body-padding: 10px 40px;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma-steps/dist/css/bulma-steps.sass";

// @import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/components/panel.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/components/level.sass";

.column.is-auto-desktop {
  @include desktop {
    width: auto;
    flex: 1 1 0;
  }
}

.drop-shadow{
	text-shadow: 3px 2px 1px rgba(41, 0, 0, 0.5);
}
.fancy {
	font-family: 'Calistoga', cursive;
	letter-spacing: 4px;
}
.fancy-title {
	font-family: 'Calistoga', cursive;
	letter-spacing: 4px;
	color: rgb(198, 142, 55) !important;
}
.fancy-subtitle {
	font-family: 'Cormorant Infant', serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgb(198, 142, 55) !important;
}
.is-knight-color {
	color: #305ab6 !important;
}
.tag:not(body).is-knight, .is-knight{
	color: white;
	background-color: #305ab6;
}
.is-minion-color {
	color: #b62525 !important;
}
.tag:not(body).is-minion, .is-minion {
	color: white;
	background-color: #b62525;
}
//TweenLite is an extremely fast, lightweight, and flexible animation tool that serves as the foundation of the GreenSock Animation Platform (GSAP). 
